/.metadata/
/My Plugin 1
/My Commandline
/My Plugin 1 Test
/MagicDraw
/MagicDraw with all plugins
/com.nomagic.magicdraw.integration.demo
/com.nomagic.magicdraw.integration.demo.command
/com.nomagic.magicdraw.integration.demo.feature