<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="fusionPlugin"
        name="Belief Fusion Plugin"
        version="1.0"
        provider-name="No Magic"
        class="fusionPlugin.FusionPlugin">

    <requires>
        <api version="1.2"/>
    </requires>

    <runtime>
        <library name="fusionPlugin.jar"/>
    </runtime>
</plugin>